.card{
    width: 300px;
    height: 400px;
    background-color: rgb(255, 255, 255,0.12);
    border-radius: 15px;
    box-shadow: 5px 5px 4px black;
}

.card .card-top{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(255, 255, 255,0.20);
    border-radius: 15px 15px 0 0;
    margin: 0;
    padding: 0;
}

.card .card-top img{
    width: 200px;
    height: 200px;
}

.card .card-top .fa-heart{
    position: absolute;
    top: 20px;
    right: 20px;
    scale: 2;
    transition: 2s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    cursor: pointer;
}

.card .card-top input{
    display: none;
}

.card .card-bottom{
    position: relative;
    padding: 10px;
}

.card .card-bottom p.card-name{
    font-size: large;
    font-family: sans-serif;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.card .card-bottom > p{
    font-size:large;
    padding: 0;
    margin: 0;
}

.card .card-bottom > p:nth-of-type(2){
    text-align: center;
    font-size: xx-large;
}

.note{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.note p{
    color: #6B5100;
    padding-left: 20px;
    font-size:x-large;
}

.stars{
    display: flex;
}

.star{
    width: 30px;
    height: 30px;
    background-color: grey;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    transition: 200ms;
}

.card .card-bottom button{
    /* position: absolute; */
    background-color: grey;
    color: white;
    border-width: 0;
    padding: 10px;
    border-radius: 5px;
    right: 10px;
    transition: 200ms;
    cursor: pointer;
}

.card .card-bottom button:active{
    scale: 1.05;
}

.card .card-bottom .buttons{
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
}

.card .card-bottom button{
    border-width: 0;
    color: white;
    border-radius: 10px;
    font-size: large;
    width: 90px;
    height: 35px;
    cursor: pointer;
}

.card .card-bottom .buttons a:first-of-type button{
    background-color: #32a2e1;
}

.card .card-bottom .buttons form button{
    background-color: crimson;
    width: 130px;
}

.card .card-bottom button:active{
    scale: 1.05;
}

.active{
    background-color: gold;
}