@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{
  box-sizing: border-box;
}

body{
  background-color: #1F1F1F;
  color: white;
  padding: 0 50px 0 50px;
  font-family: Abel;
}

/* nav bar */
nav{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.nav-bar,.filter-bar{
  width: 90vw;
  height: 90px;
  background: linear-gradient(rgba(255, 255, 255,0.1),rgba(255,255,255,0.2));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255,0.18);
  box-shadow: 0 80x 32px 0 rgba(255, 255, 255,0.37);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 16px;
  font-family: Abel;
}

.nav-bar{
  position: fixed;
  top: 8px;
  z-index: 1000;
  border-bottom-color:transparent;
}

div.options.deconnection{
  display: inline
}

.filter-bar{
  margin-top: 90px;
  font-family: Abel;
}

.logo{
  width: 120px;
  height: 52px;
}

.fa,.nav-bar span,.responsive-nav-bar span{
  color: white;
}

.nav-bar div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.localisation{
  background-color: rgb(255, 255, 255,0.2);
  border-radius: 10px;
  height: 80%;
  transition: 200ms;
  padding: 0 5px;
  cursor: not-allowed;
}

.nav-bar form,.responsive-nav-bar form{
  margin-top: 14px;
  width: 45%;
}

.nav-bar .search-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255,0.12);
}

.search-bar i{
  display: block;
}

.search-bar input{
  all: unset;
  color: white;
  padding: 5px;
  width: 95%;
}

.nav-bar a{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.options{
  transition: 200ms;
}

.options:hover ,.localisation:hover{
  scale: 1.2;
  opacity: 0.8;
}

/* filter bar */
.filter-bar{
  height: 60px;
  border-top-color: transparent;
}

.filter-bar button{
  width: 150px;
  height: 40px;
  border-radius: 30px;
  color: white;
  background: linear-gradient(rgba(255, 255, 255,0.1),rgba(255,255,255,0.2));
  border-width: 0;
  transition: 200ms;
  cursor: pointer;
  will-change: scale;
}
.filter-bar button:hover{
  scale: 1.05;
  opacity: 0.8;
}

.filter-bar button:active{
  scale: 1;
}

.alert-success{
  background-color: lightgreen;
  color: green;
  border: 2px solid green;
  width: 95%;
  margin: auto;
  text-align: center;
  margin-top: 100px;
  padding: 20px;
  border-radius: 10px;
}

.noselect {
  user-select: none; /*Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+, Edge */
  user-select: contain;
}

.responsive-nav-bar{
  display: none;
  position: fixed;
  top: -1px;
  right: 15;
  background: linear-gradient(rgba(255, 255, 255,0.1),rgba(255,255,255,0.2));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255,0.18);
  box-shadow: 0 80x 32px 0 rgba(255, 255, 255,0.37);
  /* display: flex; */
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  padding: 20px;
  font-family: Abel;
  z-index: 7;
  margin-top: 100px;
}

.responsive-nav-bar  .decconection{
  flex-direction: row;
}

.responsive-nav-bar a{
  display: inline-flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 5px;
  text-decoration: none;
}

.responsive-nav-bar form button{
  flex-direction: row !important;
}

@media screen and (max-width:768px) {
  /* nav ul.menu .options{
    display: none;
    }
  
    nav ul{
      display: none;
      }
    
    nav .menu li{
      margin: 0;
      font-size: medium;
      }
      
      nav{
        display: flex;
        justify-content: space-between;
        background-color: #212529;
        }
        
        nav > a img{
          display: initial;
  }
  
  nav ul img{
    display: none;
    } 
    
    nav li a:hover {
      box-shadow: 0 0 0 0px white;
      border-radius: 0;
      }
      
      nav li a:active {
        transition: 0s;
        }
        
        nav li a:active {
          background-color: #1A2020;
      scale: 110%;
      text-shadow: 15px 15px 5px #000000;
      transition: 0s;
  }

  .resp-img{
    display: inline;
  }
   */

  body{
    padding: 0;
  }

  nav .nav-bar .options,.nav-bar div.options.deconnection{
    display: none;
  }
  
  .responsive-menu{
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
  }
  
  .responsive-menu::after{
    position: absolute;
    content: "";
    height: 3px;
    background-color: #fff;
    width: 28px;
    box-shadow: 0 10px 0 #fff;
      transform: translateY(-10px);
      transition: 0.5s;
    }
    
    .responsive-menu.active::after{
    box-shadow: 0 0 0 #fff;
    transform: rotate(45deg);
  }
  
  .responsive-menu::before{
    position: absolute;
    content: "";
    height: 3px;
    background-color: #fff;
    width: 28px;
    transform: translateY(10px);
    transition: 0.5s;
  }
  
  .responsive-menu.active::before{
    transform: rotate(-45deg);
  }
  
  nav .responsive-nav-bar.responsive{
    display: flex;
  }

  .filter-bar{
    overflow: scroll;
  }

  .filter-bar button{
    width: 90px;
    height: 40px;
    margin-right: 10px;
  }
  /* footer */    
  .contact-link div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    
  .contact-link div p{
    text-align: center;
  }
}

@media screen and (max-width:425px) {
  .localisation{
    display: none !important;
  }
}